@import "~antd/dist/antd.less";

.app {
  color: white;
  background-color: #242333;
  height: 100vh;
  .text {
    text-align: center;
  }
}

.movies {
  label {
    margin-right: 1rem;
  }
}

.showcase {
  margin-top: 2rem;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seats-container {
  margin-top: 2rem;
}
.selected {
  background-color: #6feaf6;
}
.occupied {
  background-color: #fff;
}

.flex-column-center-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
